.lanyard-wrapper { position: relative; z-index: 0; width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center; }
.infinite-menu { position: relative; width: 100%; height: 100%; }
#infinite-grid-menu-canvas { cursor: grab; width: 100%; height: 100%; overflow: hidden; outline: none; }
#infinite-grid-menu-canvas:active { cursor: grabbing; }
.face-title { user-select: none; position: absolute; font-weight: 900; font-size: 2rem; left: 1.6em; top: 50%; color: #fff; }
.face-title.active { opacity: 1; transform: translate(20%, -50%); pointer-events: auto; transition: 0.5s ease; }
.face-title.inactive { pointer-events: none; opacity: 0; transition: 0.1s ease; }
.face-description { user-select: none; position: absolute; max-width: 10ch; top: 50%; font-size: 1rem; right: 1%; color: #fff; }
.face-description.active { opacity: 1; transform: translate(-90%, -50%); pointer-events: auto; transition: 0.5s ease; }
.face-description.inactive { pointer-events: none; transform: translate(-60%, -50%); opacity: 0; transition: 0.1s ease; }
